header{
  background-image: url("../imgs/cup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: right;
  font-size: 50px;
  font-family: cursive;
  margin top: 30px;
  margin-right: 30px;
  margin-left: 30px;
}
a{

  color: inherit;
}
nav{

  color: rgba(0, 0, 0, 1);
  text-align: center;
  background-color: rgba(224, 229, 229, .6);

}
img{
  display: block;
  margin-left: auto;
  height: 200px;
  margin-right: 40px;

}
li{
  display: inline;
  padding-right: 50px;
}

body{
  background-color: rgba(224, 229, 229, .8);
}

h1{
  text-align: center;
  font-family: cursive;
  font-size: 80px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-color: rgba(77, 48, 40, 1);
  border-style: double;
  border-bottom: 0px;
  border-width: 10px;
  margin-bottom: 0px;


}

p{
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  background-color: white;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-style: double;
  border-top: 0px;
  border-bottom: 0px;
  border-width: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer{
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-style: double;
  border-width: 10px;
  border-top: 0px;
  border-color: rgba(77, 48, 40, 1);
  font-family: cursive;
  text-align: center;
  font-size: 30px
}
