header {
  justify-content: center;
  margin: 20px;
  background-image: url("../imgs/coffee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

header h1 {
  background-color: rgba(225, 225, 225, 0.5);
  color: black;
  text-align: center;
  font-size: 80px;
}

header a {
  background-color: rgba(225, 225, 225, 0.7);
  font-size: 40px;
}

header h2 {
  display: inline-block;
  background-color: rgba(225, 225, 225, 0.5);
  color: black;
  text-align: center;
  font-size: 30px;
}

.deal {
  font-size: 50px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: red;
}

.menu {
  padding: 20px;
  font-size: 50px;
  margin: 20px;
  text-align: left;
  border-radius: 20px;
  background-image: url("../imgs/cup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu h1 {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.7);
}

.menu ul {
  background-color: rgba(225, 225, 225, 0.7);
}

.menu dd{
  font-size: 40px;
}
